@media(max-width: 575px ){
   
    .module1{
        background: url(https://alliance-catalog.ru/uploads/user/origins/2018/269919a1531ff595055ee81895c1b3cd.png) no-repeat 40%/cover;
        
    }

    html {
        overflow-x: hidden
    }

    body {
        overflow-x: hidden
    }

    #module_phone{
        width: 100%;
    }
    
    .bm-burger-button {
  
    background: url("climber.png") no-repeat;
    width: 50px;
    height: 70px;
    margin: 126px 308px;
    visibility: visible;

    }

    #utp1{
        margin-top: 3px;
        height: 159px;
        
    }

    .grid_header{
        visibility: hidden;
    }

    .grid_about_phone{
        display: grid;
        margin: 0px 26px;

    }
        
    .grid-4{
        width: none;
    }

    .ben-line{
        display: none;
    }

    .container-12 .push-1{
        left: -38px;
    }

    .container-12{
        width: 100%;
    }

    .grid_about {
        visibility: hidden;
    }

    #container-12phone{
        width: 100%;
    }

    
    .container-12 .grid-3{
        width: 100%;
    }

    .grid_jobs{
        visibility: hidden;
    }

    .grid_schema{
        visibility: hidden ;
    }


    .scheme .arrow-up{
        transform: rotate(93deg);
        position: relative;
        top: 212px;
    
    }    

    .scheme .arrow-down{
        position: relative;
        top:269px;
        left: 237px;
        transform: rotate(93deg);

    }

    #benefits-header1{
        font-size: 32px;
    }

    #scheme-header1{
        font-size: 42px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: -177px;
        margin-bottom: -11px;
    }

    .carousel-control-next-icon{
        visibility: hidden;
    }

    .carousel-control-prev-icon{
        visibility: hidden;
    }
    
    .img_grid {
        display: grid;
        grid-template-columns: repeat(3, 122px);
        justify-content: start;
    }

    .carousel-inner{
        margin: 122px auto;
    }

    .photo-block{
        width: 152px;
    }

    .grid_photo{
        visibility: hidden;
    }
}


