.grid_schema{
    display: grid;
    margin: 502px auto;
    grid-template-columns: repeat(4, 131px);
    justify-content: space-evenly;
    
}

.link_schema{
    text-align: center;
    background-color: black;
    border-radius:10px;
    color: white;
    font-weight: 900;
    text-decoration: none;
}
.link_schema:hover{
    content:'';
    transform: translateX(10px);
    transition: 0.6 all;
}


