.photo-block{
    width: 290px;
    height: 195px;
}

.carousel-caption{
    margin: 90px;
    position: sticky;
    color:black;
}    

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
    
}

.carousel-control-next{
    right: 11px;
    
}

.carousel-control-prev {
    left: -56px;
}

.img_grid{
    display: grid;
    grid-template-columns: repeat(3, 302px);
}

.grid_photo{
    display: grid;
    margin: 70px auto;
    grid-template-columns: repeat(4, 131px);
    justify-content: space-evenly;
    
}

.link_photo{
    text-align: center;
    background-color: black;
    border-radius:10px;
    color: white;
    font-weight: 900;
    text-decoration: none;
}
.link_photo:hover{
    content:'';
    transform: translateX(10px);
    transition: 0.6 all;
}


.carousel-indicators [data-bs-target]{
    background-color: black;
}



 