.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.bold {
    font-weight: 700
}

.none {
    display: none !important;
    visibility: hidden !important
}

.hidden {
    visibility: hidden
}

.opacity0 {
    opacity: 0
}



.absolute {
    position: absolute
}

.uppercase {
    text-transform: uppercase
}

.white {
    color: #fff !important
}

.block {
    display: block !important
}

body {
    color: #0f0f0f;
    font-family: "proxima_nova";
    margin: 0 auto;
    height: 100%;
    width: 100%
}

.module {
    max-width: 1920px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden
}

.module-header {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 30px
}

.modal-popup {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0;
    display: none;
    position: relative;
    width: 300px;
    padding: 30px
}

.modal-popup .modal-head {
    margin-bottom: 20px
}

.modal-popup .modal-head .title {
    font-size: 30px;
    text-align: center
}

.modal-popup .modal-head .text {
    font-size: 18px;
    color: gray
}

.modal-info {
    width: 600px !important
}

.modal-info .text {
    text-align: justify;
    line-height: 1.2;
    margin-top: 15px;
    height: 300px;
    overflow-y: scroll;
    padding-right: 20px;
    color: #555 !important
}

.modal-popup .close-popup {
    border-radius: 100%;
    background-color: gray;
    width: 23px;
    height: 23px;
    color: #fff;
    right: -10px;
    position: absolute;
    top: -12px;
    text-align: center;
    border: 3px solid white;
    box-shadow: 0 2px 6px #666;
    font-size: 14px;
    cursor: pointer
}

.modal-popup .close-popup:hover {
    color: gainsboro;
    border: 3px solid gainsboro
}

.modal-popup .close-popup .fa {
    margin-top: 4px
}

.modal-popup .button {
    width: 250px;
    height: 47px;
    line-height: 47px;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #ff1d1d;
    background: -moz-linear-gradient(top, #ff1d1d 0, red 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff1d1d), color-stop(100%, red));
    background: -webkit-linear-gradient(top, #ff1d1d 0, red 100%);
    background: -o-linear-gradient(top, #ff1d1d 0, red 100%);
    background: -ms-linear-gradient(top, #ff1d1d 0, red 100%);
    background: linear-gradient(to bottom, #ff1d1d 0, red 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ff1d1d, endColorstr=#ff0000, GradientType=0);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border-top: 1px solid white;
    -webkit-box-shadow: 0 0 0 1px #b70000;
    -moz-box-shadow: 0 0 0 1px #b70000;
    box-shadow: 0 0 0 1px #b70000
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */