.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.bold {
    font-weight: 700
}

.none {
    display: none !important;
    visibility: hidden !important
}

.hidden {
    visibility: hidden
}

.opacity0 {
    opacity: 0
}



.absolute {
    position: absolute
}

.uppercase {
    text-transform: uppercase
}

.white {
    color: #fff !important
}

.block {
    display: block !important
}



.module {
    max-width: 1920px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden
}

.module-header {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 30px
}

.menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    padding-top: 5px;
    background: #292929
}

.site-name {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    margin-left: 38px;
    margin-top: -10px;
    display: block;
    text-align: left
}

.menu-links a {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 24px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none
}

.menu a:hover {
    color: #fff
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */