.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.bold {
    font-weight: 700
}

.none {
    display: none !important;
    visibility: hidden !important
}

.hidden {
    visibility: hidden
}

.opacity0 {
    opacity: 0
}



.absolute {
    position: absolute
}

.uppercase {
    text-transform: uppercase
}

.white {
    color: #fff !important
}

.block {
    display: block !important
}


.module {
    max-width: 1920px;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden
}

.module-header {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 30px
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */